<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>CobolSharp</title>
  <style type="text/css">
    {% include "source.css" %}
  </style>
</head>
<body>

  <div id="cobol">
    <div class="source">
      {% for line in cobol_lines -%}

      <div id="cobol.{{ line.number }}" class="line {{ line | cobol_line.class }}">
        <div class="lineno"><a href="#cobol.{{ line.number }}">{{ line.number }}</a></div>
        <div class="code" id="{{ line | cobol_line.anchor }}"><a href="#{{ line | cobol_line.href }}">{{ line.whitespace }}<span class="{{ line | cobol_line.level }}">{{ line.code |e }}</span></a></div>
      </div>

      {%- endfor %}
    </div>
  </div>

  <div id="output">
    <div class="source">
      {% for line in output_lines -%}

      <div id="output.{{ line.number }}" class="line {{ line | output_line.class }}">
        <div class="lineno"><a href="#output.{{ line.number }}">{{ line.number }}</a></div>
        <div class="code" id="{{ line.anchor }}"><a href="#{{ line | output_line.href }}">
            {%- for i in range(line.indent) %}<span class="indent indent{{ i % 8 }}"></span>    {% endfor -%}
            <span class="level{{ line.indent % 8 }}">{{ line.text |e }}</span></a></div>
      </div>

      {%- endfor %}
    </div>
  </div>

</body>
</html>
