
body {
    width: 100%;
    height: 100%;
}

div#cobol {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    overflow: auto;
}

div#output {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    overflow: auto;
}


table.source {
    color: black;
    background-color: white;
    border: none;
    width: 100%;
}

table.source td {
    padding: 0px 5px;
    font-family: monospace;
}

table.source tr:target {
    font-weight: bold;
}

table.source td:target {
    font-weight: bold;
}

/* Color scheme from http://www.colorschemer.com/schemes/viewscheme.php?id=8924 */
table.source tr.indent0 td.code {
    background-color: #c4daf4;
}

table.source tr.indent1 td.code {
    background-color: #c4f0f4;
}

table.source tr.indent2 td.code {
    background-color: #c7f5c4;
}

table.source tr.indent3 td.code {
    background-color: #fffecc;
}

table.source tr.indent4 td.code {
    background-color: #ffeacc;
}

table.source tr.indent5 td.code {
    background-color: #ffcccc;
}

table.source tr.indent6 td.code {
    background-color: #e1c4f5;
}

table.source tr.indent7 td.code {
    background-color: #c9c4f4;
}


td.lineno {
    text-align: right;
    width: 5ex;
}

td.code {
    text-align: left;
    white-space: pre;
}

td.code a {
    color: black;
    text-decoration-line: none;
}

tr.unused td.code a {
    color: #888;
}

